.logoimage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: $standard-space-1;
  
    img {
        &:nth-child(1) {
            display: flex;
            width:100%;
            max-width: 325px;
        }
    }
  }