$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1400px;

@mixin mobile {
  @media (max-width: #{$mobile-width -  1px}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin non-tablet {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin non-desktop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin non-large-desktop {
  @media (min-width: #{$large-desktop-width - 1px}) {
    @content;
  }
}